body, html, *{
    font-family: 'Jura', 'Open Sans Condensed', sans-serif;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.content{
    margin: 0 auto;
    width: 990px;
}

.uppercase{
    text-transform: uppercase;
}

#nav{
    z-index: 1;
    position: absolute;
    width: 100%;
    -webkit-transition: all 0.8s linear;
    -moz-transition: all 0.8s linear;
    -o-transition: all 0.8s linear;
    transition: all 0.8s linear;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 70px;
    text-decoration: none;
    display: block;
}

.menu li {
    display: inline-block;    
    text-align: center;
    margin: 15px 0px;
    float: left;
}

.menu a{
    color: #c5602e;
    padding: 10px 39px;
    /*border-bottom: solid 3px transparent;*/
    text-decoration: none;
    font-size: 22px;
}

.button{
    background: transparent url(../img/nav_but.png) no-repeat center center;
}

/*.menu a:hover{
    background: rgba(255, 117, 50, 0.1);
    border-bottom: solid 3px #ff7532;
}
*/

.menu--shylock .menu__link {
	position: relative;
	margin: 0 1em;
	padding-right: 0;
	padding-left: 0;
	color: #c5602e;
	-webkit-transition: color 0.4s;
	transition: color 0.4s;
    
}

.menu--shylock .menu__item--current .menu__link::after,
.menu--shylock .menu__item--current .menu__link::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
    background: rgba(255, 117, 50, 0.1);
}

.menu--shylock .menu__item--current .menu__link::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.menu--shylock .menu__link:hover::before,
.menu--shylock .menu__link:focus::before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.menu--shylock .menu__link::before,
.menu--shylock .menu__link::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transform-origin: center left;
	transform-origin: center left;
	-webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
	transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu--shylock .menu__link::before {
	background: #b5b5b5;
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.menu--shylock .menu__link::after {
	background: rgba(255, 117, 50, 0.1);
}

#head{
    background: transparent url(../img/Header_bg.png) no-repeat center center;
    background-size: cover;
}

.logo{
    display: block;
    margin: 0 auto;
    padding: 198px 0 90px;
    
}

#head h1{
    color: #ff7634;
    text-align: center;
    font: normal 35px 'Quicksand', sans-serif;
}

#head p{
    color: #A5A09D;
    text-align: center;
    padding: 10px 0 145px; 
    font: normal 18px 'Quicksand', sans-serif;
    margin-bottom: 0;
}

#logo{ 
    -webkit-animation-name: logo; 
    -webkit-animation-timing-function: linear; 
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-duration: 6s; 
    animation-name: logo;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    -webkit-transform-style: preserve-3d; 
    -moz-transform-style: preserve-3d; 
    -ms-transform-style: preserve-3d; 
    transform-style: preserve-3d;
}

@-webkit-keyframes logo{ 
    from{ 
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg); 
        -ms-transform: rotateY(0deg); 
        transform: rotateY(0deg);
    } 
    to{ 
        -webkit-transform: rotateY(-360deg); 
        -moz-transform: rotateY(-360deg); 
        -ms-transform: rotateY(-360deg); 
        transform: rotateY(-360deg);
    } 
} 

.block_3{
    width: 33%;
}

#works{
    background: #1d1c1c;
    position: relative;
}

h2{
    text-align: center;
    font-size: 22px;
    color: #f88750;
    padding: 65px 0 15px;
    margin: 0;
}

.mark{
    font-size: 21px;
    padding-bottom: 15px;
    line-height: 27px;
}

.big_quad {
    content: '';
    width: 0;
    height: 0;
    border-top: 28px solid;
    border-right: 28px solid transparent;
    color: #f68d46;
    float: left;
    width: 0;
    height: 0;
}

.quad {
    content: '';
    width: 10px;
    height: 28px;
    background: #f68d46;
    float: left;
    -webkit-transform: skew(-45deg);
	-moz-transform: skew(-45deg);
    -o-transform: skew(-45deg);
    margin-right: 13px;
}

.mark p {
    padding: 0 60px 0 10px;
    display: block;
    float: left;
    background: #f68d46;
    border-radius: 5px 0 0 0;
    margin: 0;
}

.mark span{
    color: #fff;
    font-size: 17px;
}

.work {
    position: relative;
    width: 2022px;
    height: 210px;
    padding: 0;
}


.work li {
    margin-right: 20px;
    float: left;
    display: inline;
    list-style: none;
}

.work li a{
    width: 317px;
    height: 195px;
    display: flex;
    text-decoration: none;
    position: relative;
}

.work li a .hov1{
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.work li a:hover .hov1{
    opacity: 0.3;
}

.work li a:hover .hov2{
    visibility: visible;
    width: auto;
}

.work li a img {
    width: 100%;
}

.work li p{
    text-align: center;
    text-transform: uppercase;
    color: #b15724;
    background: #151515;
    margin: 0;
    font-size: 17px;
    line-height: 35px;
    margin-bottom: 25px;
    border-top: 5px solid #f68d46;
}

.hov1{
    z-index: 1;
}

.hov2{
    z-index: 2;
    visibility: hidden;
    position: absolute;
    top: 40%;
    left: 40%;
}

.uli {
    overflow: hidden;
    overflow-x: scroll;
}

.uli::-webkit-scrollbar-thumb{
    background-color:#ff7937;
    border-radius: 15px;
}

.uli::-webkit-scrollbar {
    max-width: 20px;
    width: 20px;
    height: 10px;
    border-radius: 25px;
    background: #151515;
}